<div class="container-fluid">
    <!-- Page Heading -->

    <div id="row_heading" class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Evaluaciones</h1>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-12">
        <button onclick="getFormEvaluacion()" type="button" class="btn btn-info" data-toggle="modal" data-target="#modaladd">Añadir Evaluación</button>
        <div class="modal fade" id="modaladd" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3 class="modal-title">Añadir Evaluación</h3>
                        <br/>
                    </div>
                    <div id="modal_form" class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div id="cont_alertas" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="glyphicon"></i> Lista de evaluaciones </h3>
            </div>
            <div class="panel-body">
                {% if evaluaciones %} {% for evaluacion in evaluaciones %}
                <div class="alert alert-success">
                    <div class="row">
                        <div class="col-sm-7 col-md-8 col-lg-9">
                            <h4><a href="#" onclick="selectEvaluacion({{evaluacio.id}})"><strong>{{evaluacion.titol}}</a></strong></h4>

                            <p></p>
                        </div>
                    </div>
                </div>
                {% endfor %} {% else %}
                <p>No hay evaluaciones</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

</div>
<!-- /.container-fluid -->
