<div class="container-fluid">
    <!-- Page Heading -->
    <div id="row_heading" class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Métricas</h1>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-12">
                <button onclick="getFormMetrica()" type="button" class="btn btn-info" data-toggle="modal" data-target="#modaladd">Añadir Métrica</button>
            <div class="modal fade" id="modaladd" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h3 class="modal-title">Añadir Métrica</h3>
                            <br/>
                        </div>
                        <div id="modal_form" class="modal-body">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-12">
            <div id="cont_alertas" class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Lista Métricas</h3>
                </div>
                <div class="panel-body">
                    {% if metricas %}
                        {% for metrica in metricas %}
                            <div class="alert alert-info">
                                <div class="row">
                                    <div class="col-sm-7 col-md-8 col-lg-9">
                                        <h4><strong>{{metrica.descripcio}}</strong></h4>

                                    </div>
                                    <!--
                                    <div class="col-sm-7 col-md-8 col-lg-9">
                                        <p>{{evaluacion.comentari}}</p>
                                    </div>
                                    -->
                                    <div id="alert_visto" class="col-sm-5 col-md-4 col-lg-3">
                                        <button onclick="modificarMetrica({{metrica.id}})" type="button" class="btn btn-warning" data-toggle="modal" data-target="#modaladd1">Modificar</button>
                                        <div class="modal fade" id="modaladd1" role="dialog">
                                            <div class="modal-dialog">
                                                <!-- Modal content-->
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        <br/>
                                                    </div>
                                                    <div id="mod_form" class="modal-body">
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                                    </div>
                                                 </div>
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-danger" onclick="eliminarMetrica({{metrica.id}})" >Eliminar</button>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>No hay métricas</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container-fluid -->
