<div class="container-fluid">
    <!-- Page Heading -->
    <div id="row_heading" class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Proyecto: {{proyecto.titol}}</h1>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-12">
            <div id="cont_alertas" class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Descripción</h3>
                    </div>
                    <div class="panel-body">
                        <h4 class="panel-title"><strong>Inicio del proyecto:</strong> {{proyecto.data.date}}</h4>
                        <br></br>
                        <p>{{proyecto.descripcion}}</p>
                    </div>
                </div>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container-fluid -->