<div class="container-fluid">
    <!--<script type="text/javascript">
        function getCSV()
        {
            var xmlhttp;
            if (window.XMLHttpRequest)
              {
              xmlhttp=new XMLHttpRequest();
              }
            else
              {
              xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
              }
            xmlhttp.onreadystatechange=function()
              {
              if (xmlhttp.readyState==4 && xmlhttp.status==200)
                {
                document.getElementById("getCSV").innerHTML=xmlhttp.responseText;
                }else{document.getElementById("getCSV").innerHTML="cargando...";}
              }
            xmlhttp.open("GET","",true);
            xmlhttp.send();
        }
    </script>-->
    <!-- Page Heading -->
    <div id="row_heading" class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{proyecto.titol}}</h1>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div id="cont_alertas" class="panel panel-default">
                    <div id="afegir" class="panel-body">
                        <table class="table table-bordered">
						    <tbody>
						    	<tr>
						        	<td>Título del proyecto</td>
						        	<td>{{proyecto.titol}}</td>
						      	</tr>
						    	<tr>
						        	<td>Descripción</td>
						        	<td>{{proyecto.descripcion}}</td>
						      	</tr>
						      	<tr>
						        	<td>Fecha inicio</td>
						        	<td>{{proyecto.data.date}}</td>
						      	</tr>
						      	<tr>
						        	<td>Responsable</td>
						        	<td>{{proyecto.responsable}}</td>
						      	</tr>
						      	<tr>
						        	<td>Presupuesto</td>
						        	<td>{{proyecto.presupuesto}}</td>
						      	</tr>
						    </tbody>
					    </table>
                        <script src="https://code.highcharts.com/highcharts.js"></script>
                        <script src="https://code.highcharts.com/modules/exporting.js"></script>
                        <script async src="//jsfiddle.net/dzyxgdvy/embed/"></script>

                        <script type="text/javascript">
                        $.ajax({
                            url: 'metricas/projecto/{{proyecto.id}}',
                            success: function(data) {
                                var dades = data.split("#");
                                for(var i = 0; i < dades.length - 1; i++){
                                    $("#afegir").append('<br><hr><hr><br>');

                                    /*GRÁFICA DE DADES DE DOS AÑS*/
                                    var nombre = "container"+i;
                                    $("#afegir").append('<div id="'+nombre+'" style="min-width: 310px; height: 400px; margin: 0 auto"></div>');
                                    var chart = new Highcharts.Chart({
                                        chart: {
                                            plotBackgroundColor: null,
                                            plotBorderWidth: null,
                                            plotShadow: false,
                                            renderTo: nombre                                        },
                                        title: {
                                            text: 'Reservas de vuelos',
                                            x: -20 //center
                                        },
                                        xAxis: {
                                            categories: ['En', 'Feb', 'Mar', 'Abr', 'May', 'Jun',
                                                'Jul', 'Ag', 'Set', 'Oct', 'Nov', 'Dec']
                                        },
                                        yAxis: {
                                            title: {
                                                text: 'Nº de reservas'
                                            },
                                            plotLines: [{
                                                value: 0,
                                                width: 1,
                                                color: '#808080'
                                            }]
                                        }
                                        });
                                        var any;
                                        var dadesSplit = dades[i].split("@");
                                        for(var j = 0; j < dadesSplit.length; j++){
                                            if(j == 0){
                                                any="2014";
                                            } else {
                                                any="2015";
                                            }
                                            chart.addSeries({
                                                name: any.toString(),
                                                data: JSON.parse("[" + dadesSplit[j] + "]")
                                            }, false);
                                        }
                                        chart.yAxis[0].isDirty = true;
                                        chart.redraw();

                                        /*GRÁFICA DE DADES RESULTANTS*/
                                        nombre = "desempenio"+i
                                        $("#afegir").append('<div id="'+nombre+'" style="min-width: 310px; height: 400px; margin: 0 auto"></div>');
                                        var chart2 = new Highcharts.Chart({
                                            chart: {
                                                plotBackgroundColor: null,
                                                plotBorderWidth: null,
                                                plotShadow: false,
                                                type: 'area',
                                                renderTo: nombre
                                            },
                                            title: {
                                                text: 'Posición global'
                                            },
                                            yAxis: {
                                                title: {
                                                    text: 'Diferencia respecto al año anterior'
                                                }
                                            },
                                            xAxis: {
                                                categories: ['En', 'Feb', 'Mar', 'Abr', 'May', 'Jun',
                                                                                'Jul', 'Ag', 'Set', 'Oct', 'Nov', 'Dec']
                                            },
                                            credits: {
                                                enabled: false
                                            }
                                        });
                                        var dadesInici = dades[i].split("@");
                                        var dades1 = [];
                                        var dades2 = [];
                                        for(var it = 0; it < dadesInici.length; it++){
                                            if (it == 0){
                                                dades1 = dadesInici[it].split(",");
                                            }else if (it == 1){
                                                dades2 = dadesInici[it].split(",");
                                                for(var n = 0; n < dades2.length; n++ ){
                                                    dades2[n] = dades2[n] - dades1[n];
                                                }
                                            }
                                        }
                                        chart2.addSeries({
                                                data: JSON.parse("[" + dades2 + "]")
                                            }, false);
                                        chart2.yAxis[0].isDirty = true;
                                        chart2.redraw();
                                    }
                                }
                            });
                        </script>
                        <br>
                        <br>
                    </div>
                </div>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container-fluid -->
